<% if ( error.length > 0 ){ %>
    <div class="alert <%= clazz %>">                        
        <% error.forEach(function(row){ %>
            <%= row %> <br/>
        <% }); %>
    </div>
<% } %>